* {
    padding: 0;
    margin: 0;
    user-select: none; //the user can't copy the text
    overflow: hidden;
}

@font-face {
    font-family: "Poppins-Black";
    src: url("../src/Poppins/Poppins-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../src/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-ExtraLight";
    src: url("../src/Poppins/Poppins-ExtraLight.ttf") format("truetype");
}

h1 {
    font-size: calc(1.5vh + 1.5vw);
    font-family: "Poppins-Medium", sans-serif;
    color: #d04747;
}

h2 {
    font-size: calc(1vh + 1vw);
    font-family: "Poppins-ExtraLight", sans-serif;
    color: #d04747;
}

.deform_xr {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    background-color: black;
}

.deform_menu {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 60vw;
    justify-content: center;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.deform_logo {
    @media only screen and (hover: none) and (pointer: coarse) {
        padding: 10vw 20vw 10vw 10vw;
        width: 30vw;
        background-color: rgba($color: #000000, $alpha: 0.0);
        z-index: 3;
        box-shadow:0px 0px 0px 10px #d04747 inset; //make the border go inside the div    
    }
    z-index: 3;
    padding: 5vw 25vw 5vw 5vw;
    width: 10vw;
    box-shadow:0px 0px 0px 10px #d04747 inset; //make the border go inside the div    
}

.deform_landing_logoLandingPage_svg {
    fill: #d04747;
}

.deform_xr_instructions_mobile {
    @media only screen and (hover: none) and (pointer: coarse) {
        box-shadow:0px 0px 0px 10px #d04747 inset;
        padding: 10vw 20vw 10vw 10vw;
        width: 30vw;
        left: 0;
        right: 0;
        bottom: 0vh;
        display: flex;
        flex-direction: column;
    }
    display: none;
}

.deform_xr_instructions_desktop {
    @media only screen and (hover: none) and (pointer: coarse) {
        display: none;    
    }
    box-shadow:0px 0px 0px 10px #d04747 inset;
    padding: 5vw;
    width: 30vw;
    left: 0;
    right: 0;
    bottom: 0vh;
    display: flex;
    flex-direction: column;
}

.deform_button_container {
    background-color: #d04747;
    box-shadow:0px 0px 0px 10px #d04747 inset; //make the border go inside the div
    width: 60vw;
}

.deform_xr_button {
    @media only screen and (hover: none) and (pointer: coarse) {
        background-color: #d04747;
        border: none;
        color: black;
        padding: 10vw 20vw 10vw 10vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: calc(4vh + 4vw);
        font-family: "Poppins-Black", sans-serif;
        animation: rotateButton 7s infinite;      
    }
    display: none; 
}

@keyframes rotateButton {
    0% {transform: rotateZ(-15deg)};
    50% {transform: rotateZ(15deg)};
    100% {transform: rotateZ(-15deg)};
}