* {
    padding: 0;
    margin: 0;
    user-select: none; //the user can't copy the text
    overflow: hidden;
}

@font-face {
    font-family: "Poppins-Black";
    @import "../src/Poppins/Poppins-Black.ttf";
}

.deform_xr {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    background-color: black;
}

.deform_xr_button {
    background-color: #d04747;
    margin: auto;  
    border: none;
    color: black;
    padding: calc(2vh + 2vw);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Poppins-Black", sans-serif;
}