* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

@font-face {
  font-family: "Poppins-Black";
  src: url("../src/Poppins/Poppins-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../src/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraLight";
  src: url("../src/Poppins/Poppins-ExtraLight.ttf") format("truetype");
}

h1 {
  font-size: calc(1vh + 1vw);
  font-family: "Poppins-Medium", sans-serif;
  color: #d04747;
}

@media (prefers-color-scheme: dark) {
  h1 {
    color: #D28DFA;
  }
}

h2 {
  font-size: calc(0.8vh + 0.8vw);
  font-family: "Poppins-ExtraLight", sans-serif;
  color: #d04747;
}

@media (prefers-color-scheme: dark) {
  h2 {
    color: #D28DFA;
  }
}

.deform_content_load {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #93FAA5;
  z-index: 999;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media (prefers-color-scheme: dark) {
  .deform_content_load {
    background-color: #461661;
  }
}

.deform_content_load_indicator {
  width: calc(5vw + 5vh);
  height: calc(5vw + 5vh);
  background-color: #d04747;
  -webkit-animation: loading 1s infinite;
          animation: loading 1s infinite;
}

@media (prefers-color-scheme: dark) {
  .deform_content_load_indicator {
    background-color: #D28DFA;
  }
}

.deform_content_load_finished {
  opacity: 0%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #93FAA5;
  z-index: 0;
}

@media (prefers-color-scheme: dark) {
  .deform_content_load_finished {
    background-color: #461661;
  }
}

.deform_xr {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
}

.deform_landing_animation {
  position: relative;
  width: 100vw;
  height: 100%;
  background-color: #93FAA5;
}

@media (prefers-color-scheme: dark) {
  .deform_landing_animation {
    background-color: #461661;
  }
}

.deform_landing_webgl {
  -webkit-animation-name: landingPage_fade;
          animation-name: landingPage_fade;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  opacity: 20%;
}

@media screen and (min-width: 2300px) {
  canvas {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@media screen and (min-width: 2000px) and (max-width: 2299px) {
  canvas {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.deform_menu {
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  width: 40vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 30vw;
  bottom: 10vh;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .deform_menu {
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80vh;
    width: 80vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    right: 0px;
    bottom: 10vh;
  }
}

.deform_logo_divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.deform_logo_empty {
  display: none;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .deform_logo_empty {
    padding: 10vw;
    width: 10vw;
    background-color: rgba(0, 0, 0, 0);
    z-index: 3;
    -webkit-box-shadow: 0px 0px 0px 10px #d04747 inset;
            box-shadow: 0px 0px 0px 10px #d04747 inset;
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (prefers-color-scheme: dark) {
  .deform_logo_empty {
    -webkit-box-shadow: 0px 0px 0px 10px #D28DFA inset;
            box-shadow: 0px 0px 0px 10px #D28DFA inset;
  }
}

.deform_logo {
  z-index: 3;
  padding: 5vw 25vw 5vw 5vw;
  width: 10vw;
  -webkit-box-shadow: 0px 0px 0px 10px #d04747 inset;
          box-shadow: 0px 0px 0px 10px #d04747 inset;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .deform_logo {
    padding: 10vw;
    width: 10vw;
    background-color: rgba(147, 250, 165, 0.9);
    z-index: 3;
    -webkit-box-shadow: 0px 0px 0px 10px #d04747 inset;
            box-shadow: 0px 0px 0px 10px #d04747 inset;
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (prefers-color-scheme: dark) {
  .deform_logo {
    background-color: rgba(70, 22, 97, 0.9);
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (prefers-color-scheme: dark) {
  .deform_logo {
    -webkit-box-shadow: 0px 0px 0px 10px #D28DFA inset;
            box-shadow: 0px 0px 0px 10px #D28DFA inset;
  }
}

@media (prefers-color-scheme: dark) {
  .deform_logo {
    -webkit-box-shadow: 0px 0px 0px 10px #D28DFA inset;
            box-shadow: 0px 0px 0px 10px #D28DFA inset;
  }
}

.deform_landing_logoLandingPage_svg {
  fill: #d04747;
}

@media (prefers-color-scheme: dark) {
  .deform_landing_logoLandingPage_svg {
    fill: #D28DFA;
  }
}

.deform_xr_instructions_mobile {
  display: none;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .deform_xr_instructions_mobile {
    -webkit-transform: translate(0px, -10px);
            transform: translate(0px, -10px);
    -webkit-box-shadow: 0px 0px 0px 10px #d04747 inset;
            box-shadow: 0px 0px 0px 10px #d04747 inset;
    background-color: rgba(147, 250, 165, 0.9);
    padding: 10vw 20vw 10vw 10vw;
    width: 30vw;
    left: 0;
    right: 0;
    bottom: 0vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (prefers-color-scheme: dark) {
  .deform_xr_instructions_mobile {
    -webkit-box-shadow: 0px 0px 0px 10px #D28DFA inset;
            box-shadow: 0px 0px 0px 10px #D28DFA inset;
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (prefers-color-scheme: dark) {
  .deform_xr_instructions_mobile {
    background-color: rgba(70, 22, 97, 0.9);
  }
}

.deform_xr_instructions_desktop {
  -webkit-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
  -webkit-box-shadow: 0px 0px 0px 10px #d04747 inset;
          box-shadow: 0px 0px 0px 10px #d04747 inset;
  background-color: rgba(147, 250, 165, 0.9);
  padding: 5vw;
  width: 30vw;
  left: 0;
  right: 0;
  bottom: 0vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .deform_xr_instructions_desktop {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .deform_xr_instructions_desktop {
    -webkit-box-shadow: 0px 0px 0px 10px #D28DFA inset;
            box-shadow: 0px 0px 0px 10px #D28DFA inset;
  }
}

@media (prefers-color-scheme: dark) {
  .deform_xr_instructions_desktop {
    background-color: rgba(70, 22, 97, 0.9);
  }
}

.deform_button {
  -webkit-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
  width: 60vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.deform_button_empty {
  display: none;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .deform_button_empty {
    background-color: rgba(0, 0, 0, 0);
    width: 30vw;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.deform_button_container {
  display: none;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .deform_button_container {
    width: 30vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #d04747;
    -webkit-box-shadow: 0px 0px 0px 10px #d04747 inset;
            box-shadow: 0px 0px 0px 10px #d04747 inset;
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (prefers-color-scheme: dark) {
  .deform_button_container {
    background-color: #D28DFA;
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (prefers-color-scheme: dark) {
  .deform_button_container {
    -webkit-box-shadow: 0px 0px 0px 10px #D28DFA inset;
            box-shadow: 0px 0px 0px 10px #D28DFA inset;
  }
}

.deform_xr_button {
  display: none;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .deform_xr_button {
    background-color: #d04747;
    border: none;
    color: #93FAA5;
    height: 30vw;
    padding: 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: calc(2vh + 2vw);
    font-family: "Poppins-Black", sans-serif;
    -webkit-animation: rotateButton 7s infinite;
            animation: rotateButton 7s infinite;
    float: right;
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (prefers-color-scheme: dark) {
  .deform_xr_button {
    background-color: #D28DFA;
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (prefers-color-scheme: dark) {
  .deform_xr_button {
    color: #461661;
  }
}

@-webkit-keyframes rotateButton {
  0% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  50% {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  100% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
}

@keyframes rotateButton {
  0% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
  50% {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  100% {
    -webkit-transform: rotateZ(-15deg);
            transform: rotateZ(-15deg);
  }
}

@-webkit-keyframes landingPage_fade {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 0%;
  }
  100% {
    opacity: 20%;
  }
}

@keyframes landingPage_fade {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 0%;
  }
  100% {
    opacity: 20%;
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
/*# sourceMappingURL=style.css.map */