* {
    padding: 0;
    margin: 0;
    user-select: none; //the user can't copy the text
    overflow: hidden;
    text-decoration: none;
}

@font-face {
    font-family: "Poppins-Black";
    src: url("../src/Poppins/Poppins-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../src/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-ExtraLight";
    src: url("../src/Poppins/Poppins-ExtraLight.ttf") format("truetype");
}

h1 {
    font-size: calc(1vh + 1vw);
    @media (orientation: landscape) {
        font-size: calc(0.9vh + 0.9vw);
    }
    font-family: "Poppins-Medium", sans-serif;
    color: #d04747;
    @media (prefers-color-scheme: dark) {
        color: #D28DFA;
    }
}

h2 {
    font-size: calc(0.8vh + 0.8vw);
    @media (orientation: landscape) {
        font-size: calc(0.7vh + 0.7vw);
    }
    font-family: "Poppins-ExtraLight", sans-serif;
    color: #d04747;
    @media (prefers-color-scheme: dark) {
        color: #D28DFA;
    }
}

.deform_content_load {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #93FAA5;
    @media (prefers-color-scheme: dark) {
        background-color: #461661;
    }
    z-index: 999;
    transition: all 1s ease;
}

.deform_content_load_indicator {
    width: calc(5vw + 5vh);
    height: calc(5vw + 5vh);
    background-color: #d04747;
    @media (prefers-color-scheme: dark) {
        background-color: #D28DFA;
    }
    animation: loading 1s infinite;
}

.deform_content_load_finished {
    opacity: 0%;
    position: absolute;
    display: flex;
    background-color: #93FAA5;
    @media (prefers-color-scheme: dark) {
        background-color: #461661;
    }
    z-index: 0;
}

.deform_xr {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    background-color: black;
}

.deform_landing_animation {
    position: relative;
    width: 100vw;
    height: 100%;
    background-color: #93FAA5;
    @media (prefers-color-scheme: dark) {
        background-color: #461661;
    }
}

.deform_landing_webgl {
    animation-name: landingPage_fade;
    animation-duration: 5s;
    opacity: 20%; //animation stays foggy
}

.deform_landing_animation {
    @media screen and (min-width: 2300px) {
        transform: scale(2); //the animation was becoming too small on high definition screens
    }
    @media screen and (min-width: 2000px) and (max-width: 2299px) {
        transform: scale(1.5); //the animation was becoming too small on high definition screens
    }
}

.deform_menu {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    @media (orientation: landscape) {
        flex-direction: row;
    }
    height: 80vh;
    width: 80vw;
    @media (orientation: landscape) {
        height: 80vh;
        width: 80vw;
    }
    justify-content: center;
    position: absolute;
    right: 0px;
    bottom: 10vh;
    @media (orientation: landscape) {
        right: 10vw;
        bottom: 0px;
    }
    top: 12vh;
}

.deform_logo_divider {
    display: flex;
    flex-direction: row;
    @media (orientation: landscape) {
        flex-direction: column;
    }
}

.deform_logo {
    padding: 10vw;
    @media (orientation: landscape) {
        padding: 10vw;
    }
    width: 40vw;
    @media (orientation: landscape) {
        width: 10vw;
        height: 10vw;
    }
    background-color: rgba($color: #93FAA5, $alpha: 0.9);
    @media (prefers-color-scheme: dark) {
        background-color: rgba($color: #461661, $alpha: 0.9);
    }  
    z-index: 3;
    box-shadow:0px 0px 0px 10px #d04747 inset; //make the border go inside the div    
    @media (prefers-color-scheme: dark) {
        box-shadow:0px 0px 0px 10px #D28DFA inset;
    }   
}

.deform_logo > svg {
    width: 10vw;
    @media (orientation: landscape) {
        width: 8vw;
    }
    fill: #d04747;
    @media (prefers-color-scheme: dark) {
        fill: #D28DFA;
    }
}

.deform_xr_instructions_mobile {
    transform: translate(0px, -10px); //hide the underside of the border
    @media (orientation: landscape) {
        transform: translate(-10px, 0px);
    }
    box-shadow:0px 0px 0px 10px #d04747 inset; //make the border go inside the div    
    @media (prefers-color-scheme: dark) {
        box-shadow:0px 0px 0px 10px #D28DFA inset;
    }
    background-color: rgba($color: #93FAA5, $alpha: 0.9);
    @media (prefers-color-scheme: dark) {
        background-color: rgba($color: #461661, $alpha: 0.9);
    }
    padding: 10vw 20vw 10vw 10vw;
    @media (orientation: landscape) {
        padding: 5vw 5vw 5vw 5vw;
    }
    width: 30vw;
    @media (orientation: landscape) {
        width: 15vw;
        height: 20vw;
    }
    left: 0;
    right: 0;
    bottom: 0vh;
    display: flex;
    flex-direction: column;
}

.deform_button {
    transform: translate(0px, -10px); //hide the underside of the border
    @media (orientation: landscape) {
        transform: translate(-10px, 0px);
    }
    width: 60vw;
    @media (orientation: landscape) {
        width: 30vw;
        height: 30vw;
    }
    display: flex;
    align-items: center;
    justify-content: center;
}

.deform_button_container {
    transform: translate(0px, -10px); //hide the underside of the border
    @media (orientation: landscape) {
        transform: translate(-10px, 0px);
    }
    width: 60vw;
    @media (orientation: landscape) {
        width: 30vw;
    }
    display: flex;
    background-color: #d04747;
    @media (prefers-color-scheme: dark) {
        background-color: #D28DFA;
    }
    box-shadow:0px 0px 0px 10px #d04747 inset; //make the border go inside the div
    @media (prefers-color-scheme: dark) {
        box-shadow:0px 0px 0px 10px #D28DFA inset; //make the border go inside the div
    }
}

.deform_xr_button {
    background-color: #d04747;
    @media (prefers-color-scheme: dark) {
        background-color:  #D28DFA;
    }
    border: none;
    color: #93FAA5;
    @media (prefers-color-scheme: dark) {
        color: #461661;
    }
    height: 30vw;
    padding: 10vw;
    font-size: calc(2vh + 2vw);
    font-family: "Poppins-Black", sans-serif;
    animation: rotateButton 7s infinite;
}

#deform_dom_overlay {
    display: none;
    /* force a transparent background */
    background: rgba(0,0,0,0) !important;

    /* act as containing block for descendants */
    contain: paint !important;

    /* the following styling is identical to :fullscreen */
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    min-width: 0 !important;
    max-width: none !important;
    min-height: 0 !important;
    max-height: none !important;
    width: 100% !important;
    height: 100% !important;
    transform: none !important;

    /* intentionally not !important */
    object-fit: contain;
}

.deform_dom_overlay_exitButton {
    top: 10vh;
    left: 5vh;
    position: absolute;
    border: none;
    width: 8vh;
    height: 8vh;
    border-radius: 100vh;
    background-color: rgba($color: #000, $alpha: 0.2); // Dark color comes in the daytime, so the contrast is better
    @media (prefers-color-scheme: dark) {
        background-color: rgba($color: #fff, $alpha: 0.2); // In the dark, you can't see the black text, which is the reason for this media query
    }
    font-family: "Poppins-Black", sans-serif;
    font-size: calc(1.5vh + 1.5vw);
    color: #000;
    @media (prefers-color-scheme: dark) {
        color: #fff;
    }
}

.deform_dom_overlay_instructionDiv {
    animation: dom_overlay_fade 10s;
    animation-iteration-count: 1; // Animation plays once and then disappears
    opacity: 0%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 20vh;
    bottom: 10vh;
}

.deform_dom_overlay_instructionDiv_icon {
    width: 40vw;
}

.deform_dom_overlay_instructionDiv_icon svg {
    animation: dom_overlay_phone 2s infinite;
    width: 12vh;
    padding: 4vh;
    fill: #000;
    @media (prefers-color-scheme: dark) {
        fill: #fff;
    }
}

.deform_dom_overlay_instructionDiv_text {
    width: 30vw;
    padding: 5vw;
    font-family: "Poppins-Medium", sans-serif;
    font-size: calc(1vh + 1vw);
    color: #000;
    @media (prefers-color-scheme: dark) {
        color: #fff;
    }
}

.deform_gameLoop {
    padding: 0;
    margin: 0;
    user-select: none;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

@keyframes rotateButton {
    0% {
        transform: rotateZ(-15deg)
    };
    50% {
        transform: rotateZ(15deg)
    };
    100% {
        transform: rotateZ(-15deg)
    };
}

@keyframes landingPage_fade {
    0% {
        opacity: 0%;
    }
    10% {
        opacity: 0%; //adding a bit of delay
    }
    100% {
        opacity: 20%; //this way the animation stays foggy
    }
}

@keyframes loading {
    0% {
        transform: rotate3d(1, 0, 0, 0deg);
    }
    5% {
        transform: rotate3d(1, 0, 0, 0deg);
    }
    50% {
        transform: rotate3d(1, 0, 0, 180deg);
    }
    55% {
        transform: rotate3d(1, 0, 0, 180deg);
    }
    100% {
        transform: rotate3d(1, 1, 0, 180deg);
    }
}

@keyframes dom_overlay_fade {
    0% {
        opacity: 100%;
    }
    80% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes dom_overlay_phone {
    0% {
        transform: rotateZ(-15deg) translateX(0vw);
    };
    30% {
        transform: rotateZ(15deg) translateX(-3vw);
    };
    70% {
        transform: rotateZ(15deg) translateX(-3vw);
    };
    100% {
        transform: rotateZ(-15deg) translateX(0vw);
    };
}